.hero {
    /*border: 2px solid black; /* Temporary */
    width: 80%;
    min-height: 80vh;
    display: flex;
}

.welcome {
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome h1 {
    font-weight: bold;
    font-size: 4rem;
    color: #3dd184
}

.spacer {
    flex: 2 1 0;
}

.buttonContainer {
    display: flex;
    padding: 1rem 0rem;
    justify-content: center;
    gap: 2rem;
}

.buttonContainer button {
    background-color: #398a60;
    padding: 0.5rem;
    border-radius: 7px;
}