.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    background-image: url('../../../public/snowdon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    filter: grayscale(1) brightness(0.5);
    background-size: 150%;
    background-position: 40% 30%;
    z-index: -10;
}

.selected {
    position: relative;
}

.selected::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1;
    background-image: url('underline.svg');
    background-repeat: no-repeat;
    background-size: cover;
}